.form{
    width:400px;
    height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:red;
    flex-direction:column;
    gap:10px;
    border-radius:9px;
    background:linear-gradient(to right, blue,navy,black);
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
   
}
input{
    width:300px;
    height:40px;
    border-radius:8px;
}
.btn{
    width:200px;
    height:40px;
    border-radius:8px;
    font-weight:bolder;
}
p{
    
    color:aliceblue;
    font-weight:bolder;
    font-size:15px;
}
h1{
    color:white;
}