.outer{
    width:600px;
    height:200px;
    background-color:white;
    border-radius:15px;
}
#feedback{
    width:100%;
    height:100%;
    font-size:large;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background-color:black;
    flex-direction:column;
}
h1{
    color:white;
}