    body {
            font-family: Arial;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
        }
        #container {
            width: 350px;
            padding: 20px;
            border-radius: 10px;
            background: #f0f0f0;
            box-shadow: 0 0 10px #aaa;
        }
        input {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            border: 1px solid gray;
        }
        button {
            width: 100%;
            padding: 10px;
            background: black;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 5px;
        }
        button:hover {
            background: #333;
        }
        #result {
            margin-top: 15px;
        }
