
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            display:flex;
            align-items:center;
            justify-content:center;
            min-height:100vh;
            flex-direction:column;
            background-color:black;
        }
        h1{
            color:white;
        }

        button {
            padding: 10px 20px;
            background: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 20px;
        }

        button:hover {
            background: #0056b3;
        }

        table {
            width: 600px;
            border-collapse: collapse;
            margin-top: 10px;
            background-color:red;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background: #f4f4f4;
        }

        
        #spinner {
            display: none;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            color:white;
        }
    